In [3]:
wikiLiquid2 = "https://liquipedia.net/leagueoflegends/LCK/2023/Summer/Statistics"
import requests
import pandas as pd
from bs4 import BeautifulSoup

In [4]:

def liquipediaStats(url):
# Send a GET request to the webpage you want to scrape
    #url = "https://liquipedia.net/leagueoflegends/LPL/2023/Summer/Statistics"
    response = requests.get(url)
    if response.status_code == 404:
        print("404")
        return 404
    Rank= []
    Win= []
    ScrappedChampions= []
    ScrappedRanks= []
    ScrappedWins= []
    ScrappedLose= []
    ScrappedWinpercentage= []
    Scrappedunknown1= []
    ScrappedblueSidePick= []
    ScrappedblueSideWin= []
    ScrappedblueSideLose= []
    ScrappedblueSidePercentage= []
    ScrappedredSidePick= []
    ScrappedredSideWin= []
    ScrappedredSideLose= []
    ScrappedredSidePercentage= []
    Scrappedbans= []
    ScrappedbanPercentage= []
    ScrappedtotalPickRate= []
    ScrappedtotalPickRatePercentage= []

    # Create a BeautifulSoup object by passing the response content and specifying the parser
    soup = BeautifulSoup(response.content, "html.parser")
    GetBanPart1=[]
    GetBanPart2=[]
    #print(soup)
    # Find and extract specific elements from the webpage
    paragraphs = soup.find_all('tr',class_="dota-stat-row")

    #-------------------------------------------------------------------------
    # First Steps in Looping in paragraphs 
    # Loop the First TD -> 2nd Loop Go and find the stuff you want 
    # Doesn't work need to figure out another way to display this
    for t in paragraphs:
        bans = t.find_all('a',class_="internal text")
        #display(bans)
        GetBanPart1.extend(bans)

    #display(GetBanPart1)
    for BanRate in GetBanPart1:
        GetBanPart2.append(BanRate.text)
    #display(GetBanPart2)    #GetBanPart2(BanRate.Text)
    #-------------------------------------------------------------------------           
    for paragraph in paragraphs:
        #display(paragraph.find_all('td'))
        #display(len(paragraph))
       
        Champions =paragraph.find_all('a')[1]
        Ranks = paragraph.find_all('td')[0]
        Wins = paragraph.find_all('td')[3]
        Lose = paragraph.find_all('td')[4]
        Winpercentage = paragraph.find_all('td')[5]
        unknown1 = paragraph.find_all('td')[6]
        blueSidePick = paragraph.find_all('td')[7]
        blueSideWin = paragraph.find_all('td')[8]
        blueSideLose = paragraph.find_all('td')[9]
        blueSidePercentage = paragraph.find_all('td')[10]
        redSidePick = paragraph.find_all('td')[11]
        redSideWin = paragraph.find_all('td')[12]
        redSideLose = paragraph.find_all('td')[13]
        redSidePercentage = paragraph.find_all('td')[14]
        #display(len(paragraph)
        #---- 2018 doesn't have the bottom 4 
        if (len(paragraph)) == 22:
            #display('enough of list')
            bans = paragraph.find_all('td')[15]
            banPercentage = paragraph.find_all('td')[16]
            totalPickRate = paragraph.find_all('td')[17]
            totalPickRatePercentage=paragraph.find_all('td')[18]
            ScrappedtotalPickRatePercentage.append(totalPickRatePercentage.text.replace("%", ""))
            ScrappedbanPercentage.extend(banPercentage)
            ScrappedtotalPickRate.extend(totalPickRate)
            databig = True
        else:
            #display('out of index list')
            bans = []
            banPercentage =[]
            totalPickRate = []
            totalPickRatePercentage=[]
            databig = False
                
        
        ScrappedChampions.extend(Champions)
        ScrappedRanks.extend(Ranks)
        ScrappedWins.extend(Wins)
        ScrappedLose.extend(Lose)
        ScrappedWinpercentage.append(Winpercentage.text.replace("%", ""))
        Scrappedunknown1.append(unknown1.text.replace("%", ""))
        ScrappedblueSidePick.extend(blueSidePick)
        ScrappedblueSideWin.extend(blueSideWin)
        ScrappedblueSideLose.extend(blueSideLose)
        ScrappedblueSidePercentage.append(blueSidePercentage.text.replace("%", ""))
        ScrappedredSidePick.extend(redSidePick)
        ScrappedredSideWin.extend(redSideWin)
        ScrappedredSideLose.extend(redSideLose)
        ScrappedredSidePercentage.append(redSidePercentage.text.replace("%", ""))
        #display(len(redSidePercentage.text.replace("%", "")))
        #Scrappedbans.extend(bans)
      #  display(redSidePercentage.text.replace("%", ""))

        #ScrappedtotalPickRatePercentage.append(totalPickRatePercentage.text.replace("%", ""))
        if not databig:
            data = {'Ranks':ScrappedRanks,'Champions':ScrappedChampions,'Wins':ScrappedWins,'Lose':ScrappedLose,
               'PercentageWinRate':ScrappedWinpercentage,'PercentageAvailableGames':Scrappedunknown1,'BlueSidePick':ScrappedblueSidePick,
               'BlueSidePickWin':ScrappedblueSideWin,'BlueSidePickLose':ScrappedblueSideLose,'BlueSidePercentage':ScrappedblueSidePercentage,
                'RedSidePick':ScrappedredSideWin,'RedSidePickWin':ScrappedredSidePick,'RedSidePickLose':ScrappedredSideLose,
                'RedSidePickPercentage':ScrappedredSidePercentage#,'TotalPickRate':ScrappedtotalPickRate,'TotalPickPercentage':ScrappedtotalPickRatePercentage
               }
        else:
            data = {'Ranks':ScrappedRanks,'Champions':ScrappedChampions,'Wins':ScrappedWins,'Lose':ScrappedLose,
               'PercentageWinRate':ScrappedWinpercentage,'PercentageAvailableGames':Scrappedunknown1,'BlueSidePick':ScrappedblueSidePick,
               'BlueSidePickWin':ScrappedblueSideWin,'BlueSidePickLose':ScrappedblueSideLose,'BlueSidePercentage':ScrappedblueSidePercentage,
                'RedSidePick':ScrappedredSideWin,'RedSidePickWin':ScrappedredSidePick,'RedSidePickLose':ScrappedredSideLose,
                'RedSidePickPercentage':ScrappedredSidePercentage,'TotalPickRate':ScrappedtotalPickRate,'TotalPickPercentage':ScrappedtotalPickRatePercentage
               }
    return data

In [7]:
ScrappedData =liquipediaStats(wikiLiquid2)

In [11]:
def GetFullData(FullStatSpring):
#Filter Data that display with more that 10 bans
    pd.set_option('display.max_colwidth', None)
#DataLPLFilter= pd.DataFrame(DataLPL)
#DataLCKFilter= pd.DataFrame(DataLCK)
#DataliquipediaStats = pd.DataFrame(FullStats)
#Create DataFrame

    DataliquipediaStatsSpring = pd.DataFrame(FullStatSpring)
    display(DataliquipediaStatsSpring)
#->Change Columns from String to Numberical
#DataliquipediaStats['Wins'] = pd.to_numeric(DataliquipediaStats['Wins'])
    DataliquipediaStatsSpring['Wins'] = pd.to_numeric(DataliquipediaStatsSpring['Wins'])
    DataliquipediaStatsSpring['Lose'] = pd.to_numeric(DataliquipediaStatsSpring['Lose'])
    DataliquipediaStatsSpring['TotalPickRate'] = pd.to_numeric(DataliquipediaStatsSpring['TotalPickRate'])
#DataliquipediaStats['Wins'] = pd.to_numeric(DataliquipediaStats['Wins'])
#-> Add Columns
    DataliquipediaStatsSpring = DataliquipediaStatsSpring.assign(TotalGamesPlayed= DataliquipediaStatsSpring['Wins']+DataliquipediaStatsSpring['Lose'] )
    DataliquipediaStatsSpring = DataliquipediaStatsSpring.assign(Ban= DataliquipediaStatsSpring['TotalPickRate']-DataliquipediaStatsSpring['TotalGamesPlayed'])
#-> Display Data
#display(DataLPLFilter)
#display(DataliquipediaStats)
    display(DataliquipediaStatsSpring.style)
    return DataliquipediaStatsSpring

In [12]:
GetFullData(ScrappedData)

,Ranks,Champions,Wins,Lose,PercentageWinRate,PercentageAvailableGames,BlueSidePick,BlueSidePickWin,BlueSidePickLose,BlueSidePercentage,RedSidePick,RedSidePickWin,RedSidePickLose,RedSidePickPercentage,TotalPickRate,TotalPickPercentage
0,1,Azir,58,57,50.43,49.15,55,26,29,47.27,32,60,28,53.33,171,73.08
1,2,Renekton,58,52,52.73,47.01,47,23,24,48.94,35,63,28,55.56,178,76.07
2,3,Aphelios,49,52,48.51,43.16,53,24,29,45.28,25,48,23,52.08,128,54.70
3,4,Sejuani,44,52,45.83,41.03,43,19,24,44.19,25,53,28,47.17,203,86.75
4,5,Kai'Sa,52,43,54.74,40.60,44,26,18,59.09,26,51,25,50.98,148,63.25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97,98,Xin Zhao,0,1,0.00,0.43,1,0,1,0.00,0,0,0,-,1,0.43
98,99,Yasuo,0,1,0.00,0.43,0,0,0,-,0,1,1,0.00,1,0.43
99,100,Amumu,0,0,-,0.00,0,0,0,-,0,0,0,-,1,0.43
100,101,Lissandra,0,0,-,0.00,0,0,0,-,0,0,0,-,1,0.43
101,102,Zilean,0,0,-,0.00,0,0,0,-,0,0,0,-,1,0.43

,Ranks,Champions,Wins,Lose,PercentageWinRate,PercentageAvailableGames,BlueSidePick,BlueSidePickWin,BlueSidePickLose,BlueSidePercentage,RedSidePick,RedSidePickWin,RedSidePickLose,RedSidePickPercentage,TotalPickRate,TotalPickPercentage,TotalGamesPlayed,Ban
0,1,Azir,58,57,50.43,49.15,55,26,29,47.27,32,60,28,53.33,171,73.08,115,56
1,2,Renekton,58,52,52.73,47.01,47,23,24,48.94,35,63,28,55.56,178,76.07,110,68
2,3,Aphelios,49,52,48.51,43.16,53,24,29,45.28,25,48,23,52.08,128,54.70,101,27
3,4,Sejuani,44,52,45.83,41.03,43,19,24,44.19,25,53,28,47.17,203,86.75,96,107
4,5,Kai'Sa,52,43,54.74,40.60,44,26,18,59.09,26,51,25,50.98,148,63.25,95,53
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97,98,Xin Zhao,0,1,0.00,0.43,1,0,1,0.00,0,0,0,-,1,0.43,1,0
98,99,Yasuo,0,1,0.00,0.43,0,0,0,-,0,1,1,0.00,1,0.43,1,0
99,100,Amumu,0,0,-,0.00,0,0,0,-,0,0,0,-,1,0.43,0,1
100,101,Lissandra,0,0,-,0.00,0,0,0,-,0,0,0,-,1,0.43,0,1
101,102,Zilean,0,0,-,0.00,0,0,0,-,0,0,0,-,1,0.43,0,1